/*----------------------------------------*/
/*  01. Template default CSS
/*----------------------------------------*/

@mixin placeholder {
    &::-webkit-input-placeholder {
        @content;
    }
    &:-moz-placeholder {
        @content;
    }
    &::-moz-placeholder {
        @content;
    }
    &:-ms-input-placeholder {
        @content;
    }
}

/*-- Google Font --*/
@import url('https://fonts.googleapis.com/css2?family=Vidaloka&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*-- Common Style --*/
*,
*::after,
*::before {
    box-sizing: border-box;
}
html,
body {
    height: 100%;
}
body {
    position: relative;
    font-family: $font-family-base;
    font-size: 14px;
    color: $body-color;
    line-height: 2;

    visibility: visible;

    &[dir="rtl"] {
        text-align: right;
    }
}
a,
a:hover,
a:focus,
a:active,
button,
button:focus,
.btn,
.btn:focus,
input,
input:focus,
select,
textarea{
    transition: $transition-base;
    color: inherit;
    text-decoration: none;
    outline: 0;
    background: none;
}
h1, 
h2, 
h3, 
h4, 
h5, 
h6{
    font-family: $headings-font-family;
    font-weight: $headings-font-weight;
    line-height: $headings-line-height;
    color: $headings-color;
}
h1 {
    font-size: 40px;
}
h2 {
    font-size: 36px;
    @media #{$large-mobile} {
        font-size: 30px;
    }
    @media #{$extra-small-mobile} {
        font-size: 26px;
    }
}
h3 {
    font-size: 30px;
}
h4 {
    font-size: 20px;
}
h5 {
    font-size: 18px;
}
h6{
    font-size: 16px;
}
p {
    &:last-child {
        margin-bottom: 0;
    }
}
ul{
    margin: 0;
    padding: 0;
    li{
        list-style: none;
    }
}
::selection {
    color: $white;
    background: #5DADE2;
}
img{
    max-width: 100%;
}
/* Overlay */
[data-overlay] {
    position: relative;
    z-index: 1;

    &::before {
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;

        width: 100%;
        height: 100%;

        content: "";

        background-color: $overlay-black;
    }
}

.overlay{
    position: relative;
    &::before{
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1;
        background: linear-gradient(to right,  rgba(20,20,20,0.8) 0%,rgba(20,20,20,0.8) 0%); 
    }
}


@for $i from 0 through 20 {
    [data-overlay="#{$i * .1}"] {
        &::before {
            opacity: 0.1 * $i;
        }
    }
}
/* Background Image */
[data-bg-image] {
    background-repeat: repeat;
    background-position: top center;

    &:not(.bg-pattern) {
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        overflow: hidden;
    }
}
// Image width 
.fit-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
/* Section Style */
.section,
.section-fluid {
    float: left;

    width: 100%;
}
.section-fluid {
    padding-right: 222px;
    padding-left: 222px;
    @media #{$laptop-device, $desktop-device,
    $tablet-device,
    $large-mobile} {
        padding-right: 0px;
        padding-left: 0px;
    }
    @media #{$extra-small-mobile} {
        padding-right: 0;
        padding-left: 0;
    }
}

// Custom Container 
// Container
.container {
    padding-right: var(--bs-gutter-x,15px);
    padding-left: var(--bs-gutter-x,15px);
    @media #{$extraBig-device, $laptop-device} {    
        max-width: 1200px;
    }
}
// Header Container 
.header-container {
    @media #{$extraBig-device} {
        padding: 0 75px;
    }
}
// Custom Row 
.row {
    --bs-gutter-x: 30px;
}
// Custom Col
.col-el-4 {
    @media #{$extraBig-device} {    
        flex: 0 0 auto;
        width: 33.3333333333%;
    }
}
// Gutter Style 
.no-gutter {
    margin-right: 0;
    margin-left: 0;
}
.no-gutter [class*=col-] {
    padding-left: 0;
    padding-right: 0;
}

/* Section Spacing */
.section-padding {
    padding-top: 120px;
    padding-bottom: 120px;
    @media #{$tablet-device} {
        padding-top: 80px;
        padding-bottom: 80px;
    }
    @media #{$large-mobile} {
        padding-top: 60px;
        padding-bottom: 60px;
    }
}
.section-margin {
    margin-top: 120px;
    margin-bottom: 120px;
    @media #{$tablet-device} {
        margin-top: 80px;
        margin-bottom: 80px;
    }
    @media #{$large-mobile} {
        margin-top: 60px;
        margin-bottom: 60px;
    }
}
.section-margin-top {
    margin-top: 120px;
    @media #{$tablet-device} {
        margin-top: 80px;
    }
    @media #{$large-mobile} {
        margin-top: 60px;
    }
}
.section-margin-bottom {
    margin-bottom: 120px;
    @media #{$tablet-device} {
        margin-bottom: 80px;
    }
    @media #{$large-mobile} {
        margin-bottom: 60px;
    }
}
/* Section TItle */
.section-title {
    padding-bottom: 60px;
    @media #{$tablet-device} {
        padding-bottom: 50px;
    }
    @media #{$large-mobile} {
        padding-bottom: 40px;
    }

    & .title {
        margin-top: -5px;
    }
    
    & span {
        position: relative;
        margin-top: 20px;
        padding-bottom: 20px;
        display: block;

        &:after {
            position: absolute;
            content: '';
            width: 60px;
            height: 1px;
            background: $primary;
        }
        &.thick-border {
            margin-top: 15px;
            padding-bottom: 15px;

            &::after {
                height: 2px;
                width: 30px;
            }
        }
    }

    & p {
        max-width: 720px;
        color: $gray-500;
    }
}

// Social Share 
.social-share {
    display: flex;
    align-items: center;
    padding: 10px 10px 10px 20px;
    background: $primary;
    border-radius: 50px;
    height: 60px;

    & .social-title {
        font-size: 18px;
        color: $white;
        font-weight: 500;
        margin-bottom: 0;
        font-family: $headings-font-family;
        margin-top: -5px;
    }

    & ul {
        display: flex;
        align-items: center;
        margin-left: 10px;

        & li {
            & a {
                font-size: 14px;
                font-weight: 300;
                height: 40px;
                width: 40px;
                background: $success;
                color: $white;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 100%;
                margin-left: 10px;

                &:hover {
                    background: $white;
                    color: $success;
                }
            }
        }
    }
}

/* swiper default styles */
.swiper-pagination {
    position: static;
    display: block;
    line-height: 1;
    margin-top: 10px;
    @media #{$large-mobile} {
        margin-top: 10px;
    }
    .swiper-pagination-bullet {
        width: 10px;
        height: 2px;
        background: $primary;
        opacity: 1;
        position: relative;
        border-radius: 0;
        outline: none;
        margin: 0 3px !important;
        transition: $transition-base;
        &:last-child {
            margin-right: 0;
        }
        &:before {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 1;
            transition: $transition-base;
        }
        &.swiper-pagination-bullet-active{
            background: $primary;
            width: 15px;
            transition: .6s;
        }
    }
}

.swiper-nav-button {
    top: 50%;
    transform: translateY(-50%);
    margin-top: 0;
    width: 55px;
    height: 55px;
    line-height: 51px;
    text-align: center;
    border: 2px solid #d7beb4;
    display: block;
    left: 0;
    right: 0;
    color: #d7beb4;
    border-radius: 50%;
    font-size: 15px;
    transition: $transition-base;
    outline: none;
    opacity: 1;
    @media #{$laptop-device, 
        $desktop-device, 
        $tablet-device, 
        $large-mobile} {
       margin: 0 10px;
    }

    @media #{$large-mobile}{
        width: 45px;
        height: 45px;
        line-height: 41px;
        margin: 0 5px;
    }

    &:hover{
        color: $success;
        border-color: $success;
    }

    &::after{
        display: none;
    }
}

.swiper-container:hover {
    & .swiper-nav-button {
        opacity: 1;
        visibility: visible;
    }
}

// Pagination Style 
.pagination {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;

    & a {
        font-size: 16px;
        margin: 0 15px;
        font-weight: 500;

        &.active, &:hover{
            color: $primary;
        }
    }
    & span {
        position: relative;
        margin: 0 7px;
        display: flex;
        height: 10px;
        width: 10px;

        &::before{
            position: absolute;
            content: "";
            width: 5px;
            height: 5px;
            background: $gray-400;
            border-radius: 100%;
            bottom: 0;
        }
    }
}

/* Scroll Top style */
.scroll-top{
    position: fixed;
    right: 30px;
    bottom: -60px;
    z-index: 999;
    box-shadow: 0 30px 50px rgba(0,0,0,.03);
    display: block;
    padding: 0;
    width: 40px;
    height: 40px;
    text-align: center;
    font-size: 22px;
    line-height: 40px;
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    background-color: $primary;
    background-size: 200% auto;
    background-position: left center;
    transition: .3s;
    overflow: hidden;
    border: 1px solid $gray-500;

    &:hover {
        background-color: $gray-500;
        border: 1px solid $gray-500;
        i {
            color: $gray-100;
            transition: .3s;
        }
    }

    @media #{$extra-small-mobile}{
        font-size: 20px;
    }

    &.show{
        visibility: visible;
        opacity: 1;
        bottom: 60px;
    }

    i{
        position: absolute;
        top: 50%;
        left: 50%;
        color: $white;
        transition: .3s;
    }

    .arrow-top{
        transform: translate(-50%, -50%);
    }

    .arrow-bottom{
        transform: translate(-50%, 80px);
    }

    &:hover{
        background-position: right center;
        .arrow-top{
            transform: translate(-50%, -80px);
        }
        .arrow-bottom{
            transform: translate(-50%, -50%);
        }
    }
}