/*=======================================
    03.10 Gallery CSS
=========================================*/
.gallery-filter-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 30px;
    
    & .filter-button {
        text-transform: uppercase;
        border: 0px;
        padding: 0 0 3px 0;
        line-height: 1;
        margin: 0 10px 10px 10px;
        font-size: 10px;
        font-weight: 800;
        letter-spacing: 1px;
        color: #767676;
        position: relative;
        &:before{
            position: absolute;
            content: '';
            width: 0%;
            height: 1px;
            background: $primary;
            bottom: 0px;
            transition: .3s;
        }
        &.active {
            &:before {
                width: 100%;
            }
            color: $primary;
        }

        &:hover {
            color: $primary;
            &:before{
                width: 100%;
                transition: .3s;
            }
        }
    }
}
.single-gallery {
    & .gallery-thumb {
        & a {
            display: block;
            overflow: hidden;
            border-radius: 20px;
            & img {
                transition: .5s;
                transform: scale(1.0);
            }
        }
    }

    &:hover {
        & .gallery-thumb {
            & a {
                & img {
                    transition: .5s;
                    transform: scale(1.1) rotate(2deg);
                }
            }
        }
    }
}