/*=======================================
    03.16 Portfolio CSS
=========================================*/
.portfolio-content-wrapper{
    position: sticky;
    top: 100px;
    z-index: 1020;
    & .portfolio-content {
        & ul {
            & li {
                display: flex;
                color: $dark;
                font-size: 20px;
                margin-bottom: 10px;
        
                @media #{$tablet-device, $large-mobile} {
                    font-size: 18px;
                }

                & span {
                    font-weight: 500;
                    margin-right: 10px;
                }

                & .social-links {
                    display: flex;

                    & a {
                        margin-right: 15px;
                        &:hover{
                            color: $primary;
                        }
                    }
                }
                & .tags {
                    & a {
                        &:hover {
                            color: $primary;
                        }
                    }
                }
            }
        }
    }
    & .portfolio-download-btn{
        background: $gray-100;
        width: 100%;
        height: 110px;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
        margin-top: 90px;
        
        @media #{$tablet-device, $large-mobile} {
            margin-top: 40px;
        }
        & .btn {
            border-radius: 10px;
            font-size: 20px;
            color: $dark;
            width: 100%;
            font-family: $headings-font-family;
            font-weight: 600;
            letter-spacing: 1px;
            padding: 15px 20px;
            &:hover {
                background: $primary;
                border-color: $primary;
                color: $white;
            }
        }
    }
}